.gradient-background {
    background: linear-gradient(300deg, #0C67F3, #189DF5, #0ED4EF);
    background-size: 180% 180%;
    animation: gradient-animation 9s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.nav-item a {
    color: white;
    font-size: large;
    /* font-weight: 700; */
}

#header2 {
    color: #0ED4EF
}